<mat-sidenav-container autosize class="base-container">
  <div class="app-bar">
    <div class="app-title">
      <app-header></app-header>
    </div>
    <div class="drawer-button">
      <button class="menu" (click)="toggleDrawer()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>

  <mat-sidenav #sidenav mode="side" class="nav-list" [@drawerState]="isDrawerOpen ? 'open' : 'closed'" >
    <mat-nav-list >
      <a mat-list-item routerLink="cliente" (click)="toggleDrawer()">
        <div>
          <i class="material-icons" *ngIf="isWideScreen">people</i>
          <span>Clientes</span>
        </div>
      </a>

      <a mat-list-item href="https://github.com/Caio-eng/cliente-totvs-app" (click)="toggleDrawer()" target="_blank">
        <div>
            <i class="material-icons" *ngIf="isWideScreen">link</i>
            <span>Projeto no GitHub</span>
        </div>
    </a>


    </mat-nav-list>
  </mat-sidenav>

  <div class="example-sidenav-content" (click)="closeDrawer()">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
