<div class="container responsive">
  <form class="form" [formGroup]="form">
    <h1 class="fullWidth table-header">
      Deletar Cliente
    </h1>
<mat-form-field class="fullWidth" appearance="fill">
  <mat-label>Nome</mat-label>
  <input formControlName="nome" matInput />
  <mat-icon matSuffix>place</mat-icon>
</mat-form-field>


<button
  (click)="delete()"
  class="fullWidth mat-elevation-z4 button-crud"
  mat-flat-button
  color="primary"
>
  Deletar
</button>
<button
  routerLink="../../"
  class="fullWidth mat-elevation-z4 button-crud"
  mat-flat-button
  color="warn"
>
  Cancelar
</button>
  </form>

  <div class="spinner-container"  *ngIf="loadingService.isLoading$ | async">
    <mat-spinner
       [diameter]="50"

     ></mat-spinner>
 </div>
</div>
