<div class="container  responsive" >
  <form [formGroup]="form" class="form" >

    <h1 class="fullWidth table-header">
      {{ customer.id ? "Atualizar Cliente" : "Cadastrar Cliente" }}
    </h1>

    <mat-form-field class="fullWidth" appearance="fill">
      <mat-label>Nome</mat-label>
      <input
        formControlName="nome"
        required
        matInput
        placeholder="Ex.. fulano de tal"
      />
      <mat-icon matSuffix>description</mat-icon>
    </mat-form-field>

    <mat-form-field class="fullWidth" appearance="fill">
      <mat-label>CPF</mat-label>
      <input formControlName="cpf" mask="000.000.000-00" required matInput placeholder="Ex.. 581.299.143-26">
      <mat-icon matSuffix>123</mat-icon>
    </mat-form-field>

    <mat-form-field class="fullWidth" appearance="fill">
      <mat-label>Endereço</mat-label>
      <input
        formControlName="endereco"
        matInput
        placeholder="Ex.. Rua.xx"
      />
      <mat-icon matSuffix>place</mat-icon>
    </mat-form-field>

    <mat-form-field class="fullWidth" appearance="fill">
      <mat-label>Bairro</mat-label>
      <input
        formControlName="bairro"
        matInput
        placeholder="Ex.. Centro"
      />
      <mat-icon matSuffix>place</mat-icon>
    </mat-form-field>

    <div formArrayName="telefones">
      <div *ngFor="let telefone of telefonesFormArray.controls; let i = index">
        <mat-form-field appearance="fill">
          <mat-label>Telefone {{ i + 1 }}</mat-label>
          <input matInput formControlName="{{ i }}" mask="000000-0000" required placeholder="Número de telefone" />
          <button mat-icon-button (click)="removeTelefone(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <button mat-raised-button type="button" (click)="addTelefone()">Adicionar Telefone</button>
    </div>

    <button
      (click)="onSubmit()"
      [disabled]="!form.valid || ((loadingService.isLoading$ | async))"
      class="fullWidth mat-elevation-z4 button-crud"
      mat-flat-button
      color="primary"
      *ngIf="!customer.id"
    >
      Cadastrar
    </button>
    <button
      (click)="onSubmit()"
      [disabled]="!form.valid || ((loadingService.isLoading$ | async))"
      class="fullWidth mat-elevation-z4 button-crud"
      mat-flat-button
      color="primary"
      *ngIf="customer.id"
    >
      Atualizar
    </button>
    <button
      routerLink="../"
      class="fullWidth mat-elevation-z4 button-crud"
      mat-flat-button
      color="warn"
      *ngIf="!customer.id"
    >
      Cancelar
    </button>
    <button
      routerLink="../../"
      class="fullWidth mat-elevation-z4 button-crud"
      mat-flat-button
      color="warn"
      *ngIf="customer.id"
    >
      Cancelar
    </button>
  </form>

</div>
