<div class="container responsive">

   <button routerLink="create"
   color="primary"
   class="fab-button right edit-button">Novo cliente</button>

    <div class="content">
      <div class="table-header" >
        <h1>Listando Clientes</h1>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>

    <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="responsive-table">

          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
          </ng-container>

          <ng-container matColumnDef="cpf">
            <th mat-header-cell *matHeaderCellDef> CPF </th>
            <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
          </ng-container>

          <ng-container matColumnDef="endereco">
            <th mat-header-cell *matHeaderCellDef> Endereço </th>
            <td mat-cell *matCellDef="let element"> {{element.endereco}} </td>
          </ng-container>

          <ng-container matColumnDef="bairro">
            <th mat-header-cell *matHeaderCellDef> Bairro </th>
            <td mat-cell *matCellDef="let element"> {{element.bairro}} </td>
          </ng-container>

          <ng-container matColumnDef="telefones">
            <th mat-header-cell *matHeaderCellDef>Telefones</th>
            <td mat-cell *matCellDef="let element">
              <div *ngFor="let telefone of element.telefones">
                {{ telefone.numero }}
                <br>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let element">
              <div class="icon-container">
                <a routerLink="edit/{{ element.id }}" class="action-link">
                  <i class="edit material-icons icon-display">edit</i>
                </a>
                <a routerLink="delete/{{ element.id }}" class="action-link">
                  <i class="delete material-icons icon-display">delete</i>
                </a>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="displayedColumns.length">
              Nenhum registro encontrado.
            </td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
      </div>
</div>
